<html>
	<head>
			<style type="text/css">
				body {
				    background: #fff;
				    color: #333;
				    font: 12px verdana, arial, helvetica, sans-serif;
				}
				.red{
					color:red;
				}
				h1, h2, h3 { font-family: "Trebuchet MS", Verdana, sans-serif; margin: 0px; }
				h1 { font-size: 1.2em; }
				h2, h3 { font-size: 1.1em; }
				a, a:link, a:visited { color: #2A5685;}
				a:hover, a:active { color: #c61a1a; }
				a.wiki-anchor { display: none; }
				hr{
				  width: 100%;
				  height: 1px;
				  background: #ccc;
				  border: 0;
				}
				.footer {
				  font-size: 14px;
				  font-style: italic;
				}
			</style>
	</head>

	<body>
	<%= yield %>
			
	<hr />
	<span class="footer">
		这是一封自动发送的邮件<br><%= Time.now.to_s(:db) %>/ <%= link_to "Taobao-AutoMan(TAM)", "http://twork.taobao.net" %> <em>&</em> <%= link_to "tWork", "http://twork.taobao.net"%>	 team members
	</span>
	
	</body>
</html>