<%= link_to "历史", :action => "show" %>
<hr/>
<table width="900">
<% @daily_log.each  do |daily_log, clazz| %>
  <tr class= <%= clazz %> >
      <td><a name ="data" href="index?"<%= daily_log.created_on %>><%= daily_log.created_on %></a></td>
  </tr>
<% end %>
</table>
