<hr/>
<table width="900">
<% @daily_log.each  do |daily_log, clazz| %>
  <tr class= <%= clazz %> >
    <% if daily_log.created_on==Date.today %>
      <%= link_to daily_log.created_on,:action=>"index" %>
    <%  else %>
      <%= link_to daily_log.created_on,:action=>"index",:id=>daily_log.id %>
    <% end %>
  </tr>
<% end %>
</table>
