<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>测试部日(周)报系统</title>
<%= stylesheet_link_tag "application"%>

<div class="container person per-1 yui-skin-sam">
<div class="header">
   <h1>工时汇报系统</h1>
   <p class="info">欢迎柱石登陆成功！<a href="../user/loginOut.do">[退出]</a></p>
   <p class="wid">点缀</p>
</div>

	<div class="content">
		<div class="tab">
			<ul class="parent">
				<li class="current"><a href="../submit/workEdit.htm" title="">个人工时汇报</a></li>
				<li><a href="../report/weeklyReport.htm?viewType=team" title="">查看团队工时</a></li>			
			</ul>
			<ul class="child">
				<li>员工工时汇报</li>
				<li><a href="../submit/segmentReportList.htm" title="">工时汇报列表</a></li>
			</ul>
		</div>
		<div class="meat">
			<%= yield %>
		</div>
	
		<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
		
		<div class="footer">
		    Powered by &copy; 2009-2010 Taobao QC Team
		</div>
	</div>
</div>
</body>
</html>
